[2021-03-10 00:46] engineforce opened #4 "TypeScript and Preprocessors support"
### Describe the bug

Trying to use TypeScript in the stories.svelte caused error: `ParseError: Unexpected token`

[code]

### Expected behavior

TypeScript should work using svelte preprocessor: https://svelte.dev/docs#svelte_preprocess

### Screenshots and/or logs

[code]

### Environment

 - OS: MacOS Catalina 10.15.7
 - Node.js version: v12.13.1
 - NPM version: 6.12.1
 - svelte@3.35.0
 - @stor

[2021-03-10 11:56] j3rem1e commented on #4
I didn't think TypeScript/Preprocessor supports is important for stories, but I'll try to add it soon :smile:

It will reuse the configuration of storybook, inside `main.js` in `svelteOptions.preprocessor`

[2021-03-13 19:59] ericmand opened #5 "How do I use argTypes including controls?"
Are they provided as attributes to Meta? How are they formatted? Forgive me if there was an example somewhere, I didn't see it. Also forgive me if this shouldn't be asked in an issue. Not sure where to ask it.

[2021-03-14 10:57] betaboon commented on #5
@ericmand if i understand you correctly you're looking for this: https://github.com/storybookjs/addon-svelte-csf/pull/1#issuecomment-788099560

[2021-03-14 13:10] ericmand commented on #5
Sure does. Thank you!

[2021-03-14 13:10] #5 closed

[2021-03-15 15:47] oliversturm opened #6 "[Bug] dist/preset.js doesn't exist"
### Describe the bug

The [`main` item in `package.json`](https://github.com/storybookjs/addon-svelte-csf/blob/b0010e5d1fb3f0556c04119888d1bf49269a543e/package.json#L14) refers to `dist/preset.js` - but this does not exist, the correct name is `dist/preset/index.js`.

I noticed this in my Svelte/Snowpack based project, since Snowpack was complaining about the missing file during it's dependency bu

[2021-03-15 17:23] j3rem1e commented on #6
@phated this come from the default addon-kit.
Is it an issue from the template, or something wrong in the build configured here ?

[2021-03-16 08:54] shilman commented on #6
Probably a bug in the addon-kit cc @winkerVSbecks

[2021-03-16 13:04] oliversturm commented on #6
Follow-up: I have found a rather strange issue. At least it seems strange to me, maybe I haven't investigated enough.

* My project uses Snowpack as a dev environment.
* This was working fine, and then I added Storybook. I set things up so Storybook works now.
* However, Snowpack had issues because it pulls in `addon-svelte-csf` as part of its dependency build step. In encounters the invalid `main

[2021-03-16 13:50] j3rem1e commented on #6
can you try with a field `browser: dist/index.js` in your package.json ?

Your story use an import from `@storybook/addon-svelte-csf` which resolve to the preset.js with your fix. preset can only be used in the backend, not in the browser

[2021-03-16 15:33] oliversturm commented on #6
Hi @j3rem1e ,

I assume you mean in `node_modules/@storybook/addon-svelte-csf/package.json`? Okay - I added that field there, and this pacifies Snowpack. Good idea.

However, I still don't understand what the point is of referring to an invalid (non-existent) file in `main`, and why all the extra breakage occurs when I change it to refer to something that actually exists.

Anyway - with the `brows

[2021-03-16 15:39] winkerVSbecks commented on #6
@oliversturm, `dist/index.js` should be available. But, for some reason the published package doesn't include it.

@j3rem1e Did you perhaps forget to run build before publishing it?

[2021-03-16 15:42] oliversturm commented on #6
@winkerVSbecks Yes, `dist/index.js` is available. But `main` refers to `dist/preset.js`, which does not exist.

[2021-03-16 15:45] j3rem1e commented on #6
@oliversturm when in webpack (and probably in snowpack then) you do "import 'xxx'", it checks the package.json do know what file it should load. if nothing is specified, it returns the root index.js, otherwise, in a browser, it checks the "browser" property then the "main" property, and in the server, it checks the "node" property, then the "main" property.

`main` should be a valid file, it's a b

[2021-03-16 15:48] winkerVSbecks commented on #6
@j3rem1e right, thanks for clarifying. Yea, that indeed is a bug from the addon kit. I'll update it to use `"main": "dist/preset"` instead

[2021-03-16 15:48] oliversturm commented on #6
Agreed, that's what I found. But when I change it to `dist/preset`, I end up with errors about the missing `fs` module when I start storybook. I suspect you should be able to reproduce this error if you fix your own `package.json` `main` field.

I think setting the `browser` field is a good idea to solve the Snowpack issue - at least then nobody will run into trouble if they use Snowpack without e

[2021-03-17 23:17] subpx opened #8 "[Bug] Update docs"
Getting Started should include

In .storybook/main.js, add @storybook/addon-svelte-csf as an addon

[2021-03-21 11:15] mpeg opened #10 "[Bug] Story name can conflict with imports"
In the loader at:

https://github.com/storybookjs/addon-svelte-csf/blob/b0010e5d1fb3f0556c04119888d1bf49269a543e/src/parser/svelte-stories-loader.ts#L51

There's some generated code that exports each story by their name. This conflicts with imports so for example you can't have something like this (modified from the example code):

[code]

Since it will try to declare Button again.

I believe this

[2021-03-21 13:24] j3rem1e commented on #10
You can add an 'id' attribute to a Story component to override the generated story id.

Id are used in MDX docs and in the URL. I'm not sure if it's a good idea to add a magic prefix here..

[2021-03-21 13:33] mpeg commented on #10
Agreed that the magic prefix could be confusing for complex use cases where you want to use the resulting export.

I think the current behaviour is also a bit unexpected as it does not match how other formats work, though I guess as long as the story id prop is documented on the final version it would be fine as a workaround.

Thanks for the quick response on this

[2021-03-21 15:47] mpeg commented on #4
A problem with the lack of typescript support is that it also won't automatically detect props/events/slots/etc on typescript components, not just that the stories themselves can't be written in TS

I think it would be a great addition to this addon

[2021-03-22 14:07] angelmeraz opened #11 "[Question] Jest support"
Is adding tests with jest supported?

I've got a setup already using `withTests` from `@storybook/addon-jest` with `*.stories.js` files but can't figure out how to add this onto my refactored stories using `*.stories.svelte`.

What I've tried so far:

[code]

[2021-03-22 14:22] j3rem1e commented on #11
This is theorically the right way to define a decorator. however.. I have never tested `addon-jest`, I don't know how it associates a story with a test.

I'll add this to my todo list :)

[2021-03-22 14:25] angelmeraz commented on #11
I guess the only other question would be, is there any other working method perhaps using a different jest add-on?

[2021-03-22 20:23] j3rem1e commented on #11
I manage to make it works :
- If you configure only the decorator, it will search a jest test with the same name as the story in the same folder: `Button.story.svelte` will search a `Button.test.js` or `Button.specs.js` (it's configurable with the `filesExt` property in the decorator)
- You can add a `parameters:jest` in the Meta tag or in a Story tag. It's not supported on the Template tag.

[cod

[2021-03-24 21:31] #11 closed

[2021-03-26 03:55] Nick-Mazuk opened #12 "[Bug] Controls not connecting with UI"
### Describe the bug

1. Updating a control does not update the component
2. When creating a story with preset args, it adds a duplicate control

More specifically in the story/component below, the "color" component is causing the issues.

### Steps to reproduce the behavior

Here's the story.

[code]

And here's the component.

[code]

### Expected behavior

1. Updating a control via the UI updat

[2021-03-26 11:16] j3rem1e commented on #12
I'll check that!

Does it works with the "standard" (js) CSF ?

[2021-03-26 14:51] Nick-Mazuk commented on #12
That was it. Changing it from `size` to `color` fixed everything! Thanks for spotting that and sorry about the hassle.

[2021-03-26 14:51] #12 closed

[2021-03-29 17:29] frederikhors opened #14 "What is the `source` prop in this line?"
What is the `source` prop in the line below (from Readme)?

`<Story name="Square" source args={{rounded: false}}/>`

[2021-03-29 17:50] frederikhors opened #15 "[Bug] Cannot read property '__docgen' of undefined"
Using the code below throws this error:

`Cannot read property '__docgen' of undefined`

[code]

Why?

[2021-03-29 18:07] j3rem1e commented on #14
In Storybook v6.2, svelte sources snippet for args story is auto-generated. This option allows to configure that.

With this addon:
- For non args story, sources are extracted from the stories, between `<Story>source</Story>`
- For args story, sources are auto-generated is the property source is false (or unset)
- If source is set to true, then sources are extracted from the stories
- If source is

[2021-03-29 18:11] j3rem1e commented on #15
I didn't reproduce it. Do you have a repo where I can check this bug ?

[2021-03-29 19:06] alexanderniebuhr commented on #15
have this too.
It was working with component prop on meta tag, but can be a false positive here since I have many issues with my setup

`<Meta title="Templates" component={} />`

[2021-03-29 19:34] frederikhors opened #16 "Can we add Github "Discussion" tab?"
Can we add [Github "Discussion" tab](https://docs.github.com/en/discussions/quickstart)?

Discord is not good because one cannot search for previous discussions.

[2021-03-29 19:36] frederikhors opened #17 "Svelte properties typed?"
I'm using the code from https://github.com/storybookjs/addon-svelte-csf/blob/main/stories/button.stories.svelte but in my Storybook these properties are not typed: I can only use JSON strings, why?

![image](https://user-images.githubusercontent.com/41120635/112889858-7b3e1780-90d6-11eb-8af5-e45775ca415e.png)

[2021-03-29 19:36] j3rem1e commented on #15
It's not valid to have an null component in <Meta/>, but I can make the message more friendly.

[2021-03-29 19:39] frederikhors commented on #14
Thanks. I opened https://github.com/storybookjs/addon-svelte-csf/issues/16.

[2021-03-29 19:39] #14 closed

[2021-03-29 20:00] alexanderniebuhr commented on #17
you need to set argTypes in Meta

[code]

[2021-03-29 20:06] j3rem1e commented on #17
or it uses JSDoc to extract types. See the example in the storybook repo. it's not related to this addon.

[2021-03-29 20:13] frederikhors commented on #17
And what if my `Button.svelte` is a "`<script lang="ts">`" file?

Can I infer types from that code?

Example:

[code]

[2021-03-29 20:15] j3rem1e commented on #17
It uses sveltedoc-parser which doesn't support typescript yet. so if the type can't be determined by the default value, you have to use jsdoc. it allows you to auto document your properties, slots and events too.

[2021-03-29 20:30] j3rem1e commented on #15
Closing the issue as it's not related to this addon.

[2021-03-29 20:30] #15 closed

[2021-03-29 20:30] frederikhors commented on #17
It works amazing! AMAZING! Thanks again!

[2021-03-29 20:30] #17 closed

[2021-03-30 14:45] frederikhors opened #18 "Missing Typescript declarations?"
Can we add Typescript declarations?

I'm having this warning in console:

[code]

Am I using it wrong?

Everything else works great!

[2021-03-30 14:52] frederikhors commented on #18
There is also this warning many times (for Meta, RegisterContext, RenderContext, Story, Template):

[code]

[2021-03-30 17:20] Nick-Mazuk commented on #4
I second mpeg's observation. As soon as you add a single TypeScript definition, props/slots etc. aren't automatically detected.

[2021-03-30 18:51] j3rem1e commented on #4
I am waiting for Storybook v6.2 before adding this feature.

That's said, vscode check/autocompletion is not related to this issue. the vscode svelte plugin supports typescript checking without explicitly configuring a preprocessor.

[2021-04-03 08:39] #8 closed

[2021-04-03 09:07] j3rem1e commented on #16
Discussions are being closed soon in the Storybook monorepo, they are not activated on the svelte repo and I don't want to follow another channel here.

I am closing this for now

[2021-04-03 09:07] #16 closed

[2021-04-05 12:24] jankalfus commented on #10
This is indeed pretty unfortunate. It took me quite a while to figure out what's going on. It's pretty common to have components like PrimaryButton, SecondaryButton etc. I'd like to have a story with the same name for each one, and group them together as a "Button" component. So basically, the following structure:
[code]

The walkaround seems to be to use the name of the component in the Meta titl

[2021-04-05 12:35] j3rem1e commented on #10
@jankalfus you just have to specify explicitly your story id

`<Story id="default" name="PrimaryButton">..</Story>`

[2021-04-06 05:37] jankalfus commented on #10
That doesn't seem to work, unfortunately. If I use the following code, the story doesn't appear:
[code]

On the other hand, this one:
[code]
does work:
![obrazek](https://user-images.githubusercontent.com/12714276/113663542-8252c000-96aa-11eb-8e03-3ebe51d8db12.png)

[2021-04-06 06:00] j3rem1e commented on #10
In csf the stories are named exports. You can't export "default", it's already used. You have to choose another id

[2021-04-06 06:24] shilman commented on #10
You can set the display name to default in CSF using the storyName annotation.

Also to achieve the nav you want, check out single-story hoisting

https://storybook.js.org/docs/react/writing-stories/naming-components-and-hierarchy/

[2021-04-09 11:06] fischor opened #22 "[Bug] ValidationError: <slot> cannot have directives"
### Describe the bug

I have Svelte components written in TypeScript, so I have to use svelte-preprocess. My storybook config looks like this:

[code]

### Steps to reproduce the behavior

With that config run storybook.

### Expected behavior

Successful build.

### Screenshots and/or logs

[code]

### Environment

 - NPM version:
[code]
### Additional context

The error is referring to these lin

[2021-04-09 12:31] j3rem1e commented on #22
Do you have a repo to reproduce it ?

[2021-04-09 12:36] j3rem1e commented on #22
It's look like you are compiling internals svelte component into webcomponents. if it's really what you are doing, then it is not supported.

[2021-04-09 13:53] fischor commented on #22
No, I am not creating web components.

While creating the repro, I noticed I was on an older, not supported svelte version. I was using `svelte@3.29.7`, however svelte `svelte@^3.32.0` is required via peer dependencies. Upgrading svelte resolved the issue.
If you want to investigate that further, here is the repro: https://github.com/fischor/issue-22-storybookjs-addon-svelte-csf There are 3 commit

[2021-04-09 17:58] j3rem1e commented on #22
You're right. Spread properties on slot have been added in v3.30 through https://github.com/sveltejs/svelte/issues/5456

It's so natural I forgot it wasn't here at the beginning 😆

[2021-04-09 17:58] #22 closed

[2021-04-16 16:12] oliversturm opened #23 "Webpack 5?"
I followed [the instructions](https://gist.github.com/shilman/8856ea1786dcd247139b47b270912324#upgrade) to upgrade to the latest Storybook pre-release version, in order to go to Webpack 5 (because I have trouble with [the lack of optional chaining support](https://github.com/storybookjs/storybook/issues/14292) in Webpack 4).

I have two results:

1. I can now run storybook in my project - there ar

[2021-04-16 16:22] j3rem1e commented on #23
The last time I checked it worked with webpack 5. Do you have any errors in the console ?

[2021-04-16 18:16] oliversturm commented on #23
No, it all looks very good. Here's my `.storybook/main.js`:

[code]

Here are all the (probably?) relevant entries from `package.json`:

[code]

And this is what I see on startup:

[code]

Any ideas where I could look for this problem? It was working yesterday - only then I tried to add pdfjs-dist to the project, which uses optional chaining syntax, and I decided to solve that problem by going to

[2021-04-16 18:32] j3rem1e commented on #23
I don't think it's a good idea to use storybook 6.3.0-alpha, it's not a stable version.
Could you please dump too the content of your browser console in the devtools ? thanks 🙏

[2021-04-16 19:42] oliversturm commented on #23
The version is what I got when I followed [the instructions](https://gist.github.com/shilman/8856ea1786dcd247139b47b270912324#upgrade).

Also - wow, I never knew the browser console would have so much info in a case like this :) I don't have time right now to look into it in detail, this certainly looks very informative.

[code]

[2021-04-16 20:25] j3rem1e commented on #23
You bundle two svelte runtimes.

add this to your exports in `.storybook/main.js`

[code]

[2021-04-20 20:59] #23 closed

[2021-04-21 09:24] oliversturm commented on #23
Excellent, that solved my problem. Very nice find! Now, for my understanding - how do I end up bundling two Svelte runtimes? Any ideas?

[2021-04-25 21:57] Nick-Mazuk opened #24 "[Feature] Manually declare slots/events"
### Describe the bug

Currently, this plugin doesn't support TypeScript (https://github.com/storybookjs/addon-svelte-csf/issues/4). This means it doesn't automatically detect props/slots/events.

While you can manually declare props via the `argTypes` prop on the `Meta` component, I don't believe you can manually add slots or events. Could be mistaken, though.

While full TypeScript support is pre

[2021-04-26 20:01] j3rem1e commented on #24
Typescript supports is not necessary to detect events and slots.

Storybook uses sveltedoc-parser which supports this properties. look at the officiel svelte kitchen sink.

[2021-05-05 00:43] 634396b opened #25 "How would you go about updating Meta's argTypes from external data?"
With this example:
[code]

How would one go about changing a select list of strings to select from dynamically where `$symbols` is held?

Using a store does not seem to work as expected. However, if changes occur and web pack rebuilds the changes will reflect. Perhaps new instantiation of Meta component is the reason. I am a pretty new to svelte and tried to research on forcing the component to re

[2021-05-17 18:30] #25 closed

[2021-05-18 13:50] ritchieanesco opened #26 "[Bug] Function called outside component initialization error"
### Describe the bug

Latest version of **Storybook with experimental Webpack 5** throws error:

for each of the "demo" stories that uses `@storybook/addon-svelte-csf`. Stories that use argtypes works as expected.

### Steps to reproduce the behavior

1. Type `npm run storybook` (start-storybook -p 6006)
2. Go to preferred browser and load http://localhost:6006/
3. See error

### Expected behavior

[2021-05-18 16:21] j3rem1e commented on #26
You have two copies of the svelte runtime in your application. You should use an alias rules in your webpage config, as seen in the official svelte-loader doc.

[2021-05-18 19:02] ritchieanesco commented on #26
Ah yes! That fixed it. Thanks @j3rem1e !

[2021-05-18 19:02] #26 closed

[2021-05-22 08:12] lamartire opened #27 "[Bug] Unexpected default export without title: undefined"
### Describe the bug

Trying to launch storybook with any component and always see the error `Unexpected default export without title: undefined`.

### Steps to reproduce the behavior

1. Create a story:

[code]

2. Try to run storybook (with default resolve configuration).
3. Storybook opens and shows the error.

### Expected behavior

Storybook should works.

### Screenshots and/or logs

[code]

[2021-05-22 14:48] j3rem1e commented on #27
dupe #10

use an explicit id, the name "Default" generates an id "default".

[2021-05-23 08:09] lamartire commented on #27
I doesn't work for me.
[code]

or:

[code]

give the same error: `Unexpected default export without title: undefined`

[2021-05-23 08:46] j3rem1e commented on #27
Do you have a repo where I can look ?

[2021-05-23 10:23] lamartire commented on #27
I created "fresh" example with similar configuration [here](https://github.com/lamartire/svelte-storybook-test).
There is not the error, but storybook just not render any story when config and globs are correct.

[2021-05-24 17:54] mvolkmann opened #28 "[Bug] Depends on old version of svelte-loader"
### Describe the bug

This depends on version 2.9.1 of svelte-loader, but svelte-kit depends on version 3.1.1.
The result is an "unable to resolve dependency tree" error when doing an `npm install` in a svelte-kit project.

[2021-05-26 18:24] j3rem1e commented on #27
I can't test, your repo doesn't compile on my machine.

[2021-05-26 18:32] j3rem1e commented on #28
The dep should be upgraded, but I don't understand why I can't reproduce this issue locally

[2021-05-26 18:56] mvolkmann commented on #28
@j3rem1e Try the steps I documented here: https://github.com/storybookjs/storybook/issues/15037

[2021-05-27 08:46] lamartire commented on #27
I've just started this repo with official storybook starter

[2021-06-08 02:37] shilman opened #29 "Publish ESM"
### Describe the bug

Webpack dependency for this package is causing problems for Vite users here https://github.com/eirslett/storybook-builder-vite/issues/16#issuecomment-855219901

Meanwhile @winkerVSbecks has added ESM support to `addon-kit` here: https://github.com/storybookjs/addon-kit/pull/11

If we could get those changes into this package & republish, that might help the Vite users move fo

[2021-06-08 05:52] TheComputerM commented on #29
Can I try to add ESM support? will you merge it?

[2021-06-08 07:05] TheComputerM commented on #29
@shilman https://github.com/storybookjs/addon-svelte-csf/pull/30

[2021-06-09 03:04] #10 closed

[2021-06-09 03:05] #18 closed

[2021-06-09 03:05] #6 closed

[2021-06-09 20:57] mgood opened #31 "Type definitions missing from release"
Thanks for merging #20 to add TypeScript definitions, but it looks like the file is not included in the released package for `v1.0.1`.

I'm adding TypeScript support to an existing project, and saw that you had just released 1.0.1 with types, but after upgrading it in my project the `.d.ts` file is still missing.

Based on `node_modules/@storybook/addon-svelte-csf/CHANGELOG.md` I can see that it c

[2021-06-10 14:39] shilman commented on #29
Merged & published as 1.1.0

[2021-06-10 14:39] #29 closed

[2021-06-10 14:41] shilman commented on #31
Fixed in 1.1.0 I believe. Closing!

[2021-06-10 14:41] #31 closed

[2021-06-11 18:10] ryu-man opened #32 "Svelte native stories not working with Webpack 5 [Bug]"
### Describe the bug

Stories written in Svelte native format will not be loaded when using Webpack 5 as the default builder.

### Steps to reproduce the behavior

1.  Run npx sb init --builder webpack5
2. Choose svelte as the type
3. Run `npm run storybook`
4. You will notice stories  written in a .svelte files  are not detected

### Expected behavior

Stories written in .svelte files should be d

[2021-06-12 08:35] j3rem1e commented on #32
Do you have an error in your browser console ?

[2021-06-12 14:06] ryu-man commented on #32
![Screenshot 2021-06-12 150426](https://user-images.githubusercontent.com/25468773/121778629-a1306f80-cb8f-11eb-8229-c3beac969449.png)

this is a screenshot of the console

[2021-06-12 15:13] j3rem1e commented on #32
See #26

[2021-06-12 19:30] ryu-man commented on #32
Thanks @j3rem1e , I add a resolve configuration for Webpack and that fixed the problem,
I will share my .storybook/main.js those who could face this issue in the future

[code]

[2021-06-12 19:31] #32 closed

[2021-06-26 15:45] jesperp commented on #4
Was just searching for TS support in svelte native format but ending up here. But now I also learned why some events/slots don't show up in SB 😄
Any news on this? 😊

[2021-07-07 19:08] austinknight commented on #17
It seems that using jsdoc when there are any typed variables in a typescript svelte component, jsdoc doesn't work anymore. Does something override jsdoc when typescript is in use?

if I do this with ts, my storybook controls don't auto generate
[code]

But, if I remove types like this, it works
[code]

[2021-07-22 05:00] benbender commented on #4
@j3rem1e any news on this one? Don't want to be pushy, but as ts-support is maturing in svelte, I would like to argue that this missing feature breaks the promise of "native" stories in storybook for svelte in a way. And (as in my case) it would be very convenient, to be able to write ts through the whole codebase and don't have to think about the context :) Thanks for your efforts!

[2021-07-22 05:03] benbender commented on #24
@j3rem1e Automatic typed CustomEvents are now available in Svelte. See https://github.com/sveltejs/language-tools/issues/424#issuecomment-864576983. Would be nice to reopen this and have them supported.

[2021-07-29 14:38] Enteleform opened #33 "[Bug] Uncaught SyntaxError: Identifier has already been declared"
### Describe the bug

Naming a story with the same name as its component results in the following error:
`Uncaught SyntaxError: Identifier 'SomeStory' has already been declared`

Related to [storybook#8536](https://github.com/storybookjs/storybook/issues/8536).

### Steps to reproduce the behavior

`./src/SomeCategory.stories.svelte`

[code]

### Expected behavior

Storybook will render the `SomeC

[2021-08-06 18:34] frederikhors opened #34 "[Bug] Cannot read property '$$' of undefined (can we please create a kitchen-sink dir?"
### Describe the bug

I'm having a lot of issues event with this package.json:

[code]

with:

[code]

### Expected behavior

Can you please create a kitchen-sink dir instead of README snippet?

So we can see how to configure everything properly.

Please.

### Issues

[code]

[code]

[2021-08-18 12:38] frederikhors commented on #34
@shilman can you please help with this?

[2021-09-07 10:09] benbender commented on #33
@Enteleform could you provide a simplified reproduction? Without context/repro nobody will be able to reproduce/fix the issue. Generally svelte(kit) works fine with storybook.

[2021-09-07 10:30] Enteleform commented on #33
@benbender I included a simplified reproduction in the `Steps to reproduce the behavior` section of the issue template, and just updated the example with a comment to point out the specific line that is causing the issue.

[2021-09-07 10:53] benbender commented on #33
@Enteleform Not really. Thats a snippet, but no repro.Its missing installed/used packages, setup etc. A repro has to be complete...

[2021-09-29 17:20] pzuraq commented on #33
Also encountering this issue, the compiled output appears to be the issue:

[code]

Oddly enough, it only happens to some components, others appear to work fine:

[code]

[2021-09-29 17:21] pzuraq commented on #33
I'm using `storybook-builder-vite` btw, in case that could be part of the issue

[2021-09-29 17:26] pzuraq commented on #33
Fixed it by passing in an explicit story ID, should have read the warnings:

[code]

[2021-10-21 04:37] iva2k commented on #4
Storybook is great and Svelte+Storybook+Typescript could be a very potent combination.

I'm using this workaround in .storybook/main.js to use Typescript components while the issue is being fixed:
[code]

[2021-10-25 20:50] 01oseluiz opened #35 "[Bug] how to use svelte csf with storyshots?"
### Describe the bug

I'am using svelte to describe my stories, but storyshots doesn't work with this syntax, only works with .js and .ts files.

### Steps to reproduce the behavior

1. using this template [https://github.com/chromaui/intro-storybook-svelte-template](https://github.com/chromaui/intro-storybook-svelte-template)
2. install storyshots following what is described here: [https://storyb

[2021-11-09 12:15] mrmikardo commented on #28
What's the latest on this issue? I can take a look, if that's helpful.

[2021-11-09 12:30] mrmikardo opened #36 "[Bug] Storybook build fails with webpack5"
### Describe the bug

I have recently upgraded from Webpack 4 -> Webpack 5, following the instructions here: https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#webpack-5

Storybook stories now fail.

### Steps to reproduce the behavior

1. Upgrade Webpack 4 -> Webpack 5, change configurationg in `.storybook/main.js` to specify the "webpack5" builder.
2. Do `npm run storybook`.

### Ex

[2021-11-09 12:45] mvolkmann commented on #28
I tried this again today. When I follow the steps in the link above and then enter "npm run storybook" I get the following:

ERR! Error [ERR_REQUIRE_ESM]: require() of ES Module /Users/mark/tmp/storybook-issue/.storybook/main.js from /Users/mark/tmp/storybook-issue/node_modules/@storybook/core-common/dist/cjs/utils/interpret-require.js not supported.
ERR! main.js is treated as an ES module file as

[2021-11-09 12:53] mrmikardo commented on #36
I think I found what the issue is here: I had a `<Story />` component which didn't specify a `name` attribute. When I corrected that, Storybook is successfully able to build again.

[2021-11-09 12:53] #36 closed

[2021-11-13 18:33] j3rem1e commented on #35
This project has a demo storybook which uses jest and storyshot. You can look at the jest configuration.

[2021-12-05 09:18] #35 closed

[2021-12-07 10:26] aberndtiteratec commented on #4
Was anyone able to make it work with vite aswell?

[2021-12-16 17:07] cmellinas opened #37 "[Bug] Using Svelte CSF with Storyshots fail: "SyntaxError: Unexpected token '<'""
Hi,

I tried to setup a project using both Svelte CSF and Storyshots and got errors during integration.

I saw that this project contained an example, so I cloned it and made some tests.

### Describe the bug

I ran into a strange bug with my cloned repository.

If I launch npm run test, it worked well initially.

So I tried a more advanced test, I tried to replace:
**import { Meta, Story } from '

[2021-12-20 18:17] jquesada2016 opened #38 "Stories aren't generated when imported component is named `Navbar` in Svelte"
**Describe the bug**
When importing a component in Svelte, naming the import `Navbar` causes the component to not be rendered.

Given the following code ([here](https://github.com/jquesada2016/daisyui-svelte/blob/navbar-issue-repro/src/stories/Navbar.stories.svelte)):
[code]

The story is not generated in the UI. However, if we make just a couple changes, it works.

[code]

**To Reproduce**
Please

[2022-01-07 17:15] brittneypostma commented on #37
Same bug experienced today when generating a storybook app with `npx sb@next init` and fixing the cjs/esm errors.

[2022-01-12 19:18] MarvinJWendt opened #39 "[Bug] Code section only shows template"
Hi, the `Show code` button in the docs section only shows the Template.

![image](https://user-images.githubusercontent.com/31022056/149207084-403fed77-e02d-43df-beac-5c207ec8461f.png)

I would expect to see the actual attributes there (from the configuration below). Are there any plans to implement this?

[2022-01-19 09:53] blindfish3 commented on #4
I'm still working on it; but this runs OK (so far: I only have a skeleton project with no vendor imports):

<small>./storybook/main.js</small>
[code]
I've seen examples where you handle preprocess like this:
[code]
...but I couldn't get that to work; so I'm currently duplicating the config :/

I also had issues related to module imports.  To get around that I added ./storybook/package.json:
`{ "ty

[2022-01-29 00:19] jonniebigodes commented on #37
@brittneypostma sorry for the late response on this, it seems to be the case. To give you a bit of context, this addon was a bit of an experiment created by one of our contributors, thankfully it matured to a point that could be added into Storybook installations. But as of late we need a bit of help with this addon, not only in maintaining it but improving as there are some features that require

[2022-01-29 18:03] ChristianSch commented on #28
Here's how to get it to work:  https://github.com/storybookjs/storybook/issues/15675#issuecomment-930143142

[2022-02-07 10:49] mrtnbroder opened #40 "Why does this package have react and react-dom as peerDependencies"
https://github.com/storybookjs/addon-svelte-csf/blob/f72b8f28dabbb99c92e12d0170d3c1db4397ee7c/package.json#L76-L77

I'm using `pnpm` currently with `strict-peer-dependencies` and see that `react` and `react-dom` are listed as `peerDependencies` within this package. I think this is wrong and should

1. either be removed
2. declared as optional via `peerDependenciesMeta`

I can create a PR and would

[2022-02-08 08:10] mrtnbroder commented on #40
nvm me, I was having a brain fart :x

[2022-02-08 08:10] #40 closed

[2022-02-23 17:24] Tlahey commented on #39
Same for me, but with `storybook/svelte@6.3.7` I don't have any issues

[2022-04-03 13:56] j3rem1e commented on #39
Related to https://github.com/storybookjs/storybook/issues/17560

[2022-04-03 18:33] j3rem1e commented on #33
The method building the hashcode can returns negative hash: the generated identifier is not valid, because it contains a "-"

[2022-04-03 19:08] j3rem1e commented on #34
Closing because of inactivity.

[2022-04-03 19:08] #34 closed

[2022-04-03 19:09] j3rem1e commented on #27
Closing because of inactivity. not reproduced.

[2022-04-03 19:09] #27 closed

[2022-04-03 19:09] #39 closed

[2022-04-03 19:36] j3rem1e commented on #37
Can I have a repro on this issue ?

This repo uses storyshots, and it works correctly. Storyshots works has expected in my own repo too.

[2022-04-04 11:17] francoisromain opened #44 "[Bug] Could not resolve dependency @storybook/svelte@"^6.2.9" from @storybook/addon-svelte-csf@1.1.0"
### Describe the bug

It makes an dependency error, when I try to install `addon-svelte-csf` with the the following config :

[code]

### Steps to reproduce the behavior

1. `npm i -D @storybook/addon-svelte-csf`
2. See error

[code]

### Expected behavior

No error.

### Additional context
I can force the install with `npm i -f`.
It works, but it is not doable in every environments (ie: CI).

Wha

[2022-04-04 11:37] j3rem1e commented on #44
https://github.com/storybookjs/addon-svelte-csf/pull/42

[2022-04-05 13:14] codingwithchris opened #45 "White Screen of Death v1.1.0 ⬜️ ☠️"
### Describe the bug
My storybook is building properly for dev with no errors and is building for production with no errors, but when I open up the local URL, I am getting a white screen with a ton of console errors.

As far as I can tell, this is basically the same error as seen here:
[https://github.com/storybookjs/storybook/issues/14410](https://github.com/storybookjs/storybook/issues/14410)

#

[2022-04-05 14:59] j3rem1e commented on #45
Probably fixed by #42 , there is conflicts in some dependencies.

[2022-04-06 09:59] YunnXairou opened #46 "Generating Story with {#each} block"
Hello,
I am planning to make a component with some data example. I saw the plugin [storybook-fixtures](https://storybook.js.org/addons/storybook-fixtures) but I did not manage to make it work for svelte. I am planning to simulate it with {#each} block but it too does not work.

Is it really impossible or did I do something wrong ?
If it's not possible, could we add a feature like this ?

Here are

[2022-04-06 17:15] j3rem1e commented on #46
and the addon-fixture can't be used too because the story context is not exposed in a <Story/> or <Template/>.

[2022-04-08 16:52] #33 closed

[2022-04-08 16:52] #38 closed

[2022-04-08 16:53] shilman commented on #38
:rocket: Issue was released in [`v1.1.1`](https://github.com/storybookjs/addon-svelte-csf/releases/tag/v1.1.1) :rocket:

[2022-04-08 16:53] shilman commented on #33
:rocket: Issue was released in [`v1.1.1`](https://github.com/storybookjs/addon-svelte-csf/releases/tag/v1.1.1) :rocket:

[2022-04-08 18:29] #46 closed

[2022-04-08 18:30] shilman commented on #46
:rocket: Issue was released in [`v1.1.2`](https://github.com/storybookjs/addon-svelte-csf/releases/tag/v1.1.2) :rocket:

[2022-04-08 19:55] j3rem1e commented on #45
Can you test with v2.0.1 ?

[2022-04-08 19:55] j3rem1e commented on #44
Fixed in 2.0.1

[2022-04-08 19:55] #44 closed

[2022-04-08 19:55] j3rem1e commented on #28
Fixed in 2.0.1

[2022-04-08 19:55] #28 closed

[2022-04-11 05:24] zenoli opened #50 "How to use Decorators?"
I did not find any documentation on how to use decorators. Can someone help me?

[2022-04-11 05:32] zenoli opened #51 "How to import stories into stories and reuse arguments?"
In the [official svelte storybook tutorial](https://storybook.js.org/tutorials/intro-to-storybook/svelte/en/composite-component/), they use a pattern where stories get imported into other stories, in order to reuse the arguments defined in the imported stories:

`import * as TaskStories from './Task.stories';`

and then, `TaskStories` arguments can be reused as `TaskStories.Default.args`.

Is this

[2022-04-13 06:24] benbender opened #52 "[Bug] peer-dependencies include implicit dependencies"
### Describe the bug

This package names several internal packages of `storybook` as peer-dependencies. Because those packages usually aren't installed explicitly, it may throw errors in certain package-managers. Below is an example of `pnpm`.

I would like to see those peer-deps removed. Would this be possible or is there any reason I may have overlooked for having them in the first place?

[code

[2022-04-14 15:16] brandonmcconnell opened #53 "[Feature Suggestion] Multiple wrapper divs instantiated for stories"
## Describe the problem

When creating a new Storybook Template & Story, two wrapper divs are created, making it more confusing to target the actual story using CSS. The output might look something like this:

[code]

With this current structure, the only way to target the contents container itself in Svelte is using a complicated selector like this:

[code]

## Proposed solution # 1

Removing the

[2022-04-14 17:17] codingwithchris commented on #45
Still seems to be broken for me :/

[2022-04-15 18:18] brandonmcconnell opened #54 "[Bug] Special characters cause error in Storybook"
### Describe the bug

When I add special characters to the name of a Story, for example: `<Story name="Horizontal (Default)" args={{}} />`, the `(` and `)` symbols appear to break stories, and they can no longer be found.

### Expected behavior

I would expect to be able to include any special characters in Story names and have them rendered appropriately.

[2022-04-17 11:41] j3rem1e commented on #53
You should move this issue in the main storybook repo. This addon doesn't create any div, afaik.

[2022-04-17 11:42] j3rem1e commented on #52
They come from the template used for generated this project.

@winkerVSbecks any idea why they are here ?

[2022-04-17 11:43] j3rem1e commented on #51
This part of the documentation is more axed to React and can't be translated with svelte native format.

What you can do is probably export common parameters from an external js file and reuse them.

[2022-04-17 11:45] j3rem1e commented on #50
The documentation is here, with examples.

You can ask this kind of question in Discord, it's more suited than a github issue.

[2022-04-17 11:45] #50 closed

[2022-04-17 11:46] j3rem1e commented on #45
do you have a repro for this issue ?

[2022-04-17 11:48] #54 closed

[2022-04-17 11:50] shilman commented on #54
:rocket: Issue was released in [`v2.0.2`](https://github.com/storybookjs/addon-svelte-csf/releases/tag/v2.0.2) :rocket:

[2022-04-17 11:50] shilman commented on #54
:rocket: Issue was released in [`v2.0.2`](https://github.com/storybookjs/addon-svelte-csf/releases/tag/v2.0.2) :rocket:

[2022-04-17 11:50] shilman commented on #54
:rocket: Issue was released in [`v2.0.2`](https://github.com/storybookjs/addon-svelte-csf/releases/tag/v2.0.2) :rocket:

[2022-04-17 17:25] winkerVSbecks commented on #52
@j3rem1e those are there to test your addon within its own repo. You can remove the ones your addon doesn't use.

The idea is that the addon relies on these dependencies to work. This dependency comes from the end user's storybook install. Hence, they are listed as peer dependencies. It's kind of like a component library listing react as a peer dependency.

[2022-04-18 16:04] brandonmcconnell commented on #53
@j3rem1e Thanks, closing!

[2022-04-18 16:04] #53 closed

[2022-04-21 13:52] codingwithchris commented on #45
Unfortunately, my repo is private as it's a work project... I can try and spin up a barebones test repo but not sure I have time this week. FWIW... I'm getting errors with both Webpack 4, Webpack 5, and the Vite builder with addon-svelte-csf at `2.0.1`.

[2022-04-22 14:02] francoisromain commented on #44
Sorry, my PR still didn't fix the issue.
I still have the same error:

[code]
@j3rem1e any idea on how to fix that please?

thank you

[2022-04-24 08:31] j3rem1e commented on #44
It's expected, the matcher ">=6.4.20" doesn't select prerelease version.

You can use `--force` to use a prerelease version.

[2022-04-24 11:51] francoisromain commented on #44
ok.
The problem is I can not use `--force` in the CI.

[2022-04-26 18:57] #51 closed

[2022-05-02 20:34] j3rem1e commented on #45
https://github.com/storybookjs/storybook/issues/17161

[2022-05-19 08:31] allozaur opened #57 "[Bug] [ERESOLVE unable to resolve dependency tree] error when installing for Storybook 6.5.0 with SvelteKit"
### Describe the bug

A clear and concise description of what the bug is.

### Steps to reproduce the behavior

1. Install SvelteKit Skeleton App

[code]

2. Install Storybook

[code]

3. Install Svelte CSF Addon

[code]

### Expected behavior

`@storybook/addon-svelte-csf` is installed without `--force` flag and doesn't cause any dependency conflicts.

### Screenshots and/or logs

[code]

### Env

[2022-05-19 18:31] #57 closed

[2022-05-21 07:58] j3rem1e commented on #45
Closing this issue because it's not related to this addon

[2022-05-21 07:58] #45 closed

[2022-05-25 17:56] giuxtaposition commented on #37
@cmellinas,
jest by defaults ignore files in node_modules while doing his transformations. That's why you received the syntax error.

You can fix this by adding `transformIgnorePatterns: ['<rootDir>/node_modules/(?!(@storybook/(svelte|addon-svelte-csf))/)']` to your jest config.
It tells jest to ignore all files inside `/node_modules` except `@storybook/svelte` and `@storybook/addon-svelte-csf`

Y

[2022-07-05 04:35] mendokusan commented on #37
I tried the jest solution and I am still facing the same issue. I was wondering is there any new updates on this issue? Would be appreciated.

[2022-07-06 17:52] benmccann opened #59 "[Bug] should not depend on react"
### Describe the bug

This package depends on `react` and `react-dom`, which both seem like they should be unnecessary

### Steps to reproduce the behavior

Install project with Svelte. See React included

[code]

### Expected behavior

No React for Svelte users

### Screenshots and/or logs

N/A

### Environment

latest code

### Additional context

Tons of stuff is getting installed. Would love t

[2022-07-06 18:00] benmccann opened #60 "[Bug] replace `svelte-loader`"
### Describe the bug

The Svelte team only very begrunglingly maintains `svelte-loader` and its borderline deprecated. SvelteKit is the official way to build Svelte projects and uses Vite and `vite-plugin-svelte` by default. Similarly, we'd prefer people use Vitest to Jest and `svelte-jester` to better leverage the Vite ecosystem.

### Steps to reproduce the behavior

https://github.com/storybookj

[2022-07-06 18:07] benmccann commented on #4
I'm not sure how the various repos fit together, but I sent a fix for this in `builder-vite`: https://github.com/storybookjs/builder-vite/pull/428

[2022-07-06 20:30] benmccann commented on #59
I sent https://github.com/storybookjs/storybook/pull/18646

[2022-07-06 20:41] #59 closed

[2022-07-07 15:45] benmccann commented on #52
`@storybook/svelte` is listed as a `peerDependency`:

https://github.com/storybookjs/addon-svelte-csf/blob/675be7f108f3522fcf701ad2397339cd68c67f10/package.json#L77

I think that should be enough because it's going to end up pulling these in as `dependencies`:

https://github.com/storybookjs/storybook/blob/7ca3a53b9caa8374b1143d66754807273260d100/app/svelte/package.json#L48

I think we only want t

[2022-07-07 18:43] #60 closed

[2022-07-11 22:45] cbishop-fv commented on #37
We ran into this same issue. I was trying to do a similar fix adding it to transformIgnorPatterns and got it working.

[2022-07-14 03:36] Gaubee opened #64 "[Feature] Add Vite-Builder Support"
Vite-Builder is one of the office builder, pls add support.❤️

[2022-07-14 04:23] shilman opened #65 "Add indexer support"
Currently `stories.svelte` files are incompatible with:
- story index generation https://github.com/storybookjs/storybook/issues/18081
- storybook test runner https://github.com/storybookjs/test-runner/issues/80

To address this, we've added an "indexer" API to Storybook core for 7.0: https://github.com/storybookjs/storybook/pull/18355

If `addon-svelte-csf` were to implement an indexer, it would

[2022-07-14 12:23] j3rem1e commented on #65
I have a working implementation in a private branch. I have to add tests and check how I can merge this without loosing compatibility with v6

[2022-07-14 12:51] #52 closed

[2022-07-14 14:07] shilman commented on #65
@j3rem1e that's wonderful news! It might make sense to release that change in an alpha rather than a full release. The indexer API is 7.0-alpha and might change between now and the final release. Specifically, we might update it to make watch mode possible in the test runner. cc @yannbf

[2022-07-14 17:08] benmccann commented on #64
I think there's already support. You can see an example project here:

https://github.com/michaelwooley/storybook-experimental-vite

[2022-08-11 15:34] carusog commented on #4
I set up a [fresh-install repo](https://github.com/carusog/svelte-tailwind-storybook) with a simple TypeScript component.
You can find 2 `FIXME` tasks in the code that highlight the issues.

I hope it can be useful to test this issue out.

The only two issues are currently:
1. TypeScript components are not supported.
2. OT: Unresolved alias imports. I.E. trying to import components from ($lib/etc…

[2022-08-12 03:17] anderfernandes opened #67 "The requested module does not provide an export named 'useContext'"
### Describe the bug

After running `npm update` in my SvelteKit/Storybook project, stories don't load anymore. I've also tried with a fresh SvelteKit/Storybook project, the same happens.

### Steps to reproduce the behavior

1. Set up a new SvelteKit/Storybook project
2. `npm run storybook`
3. Go to Storybook URL
4. Stories don't load

### Expected behavior

Stories to load.

### Screenshots and/

[2022-08-12 08:49] carusog commented on #67
@anderfernandes yesterday I set up a fresh install to test the bug of native svelte stories, written in TS. It works for me (of course, when not using TS and using relative imports).
You can find it here: #4 (last comment).

[2022-08-12 20:38] anderfernandes commented on #67
@carusog I believe this was a problem with vite. In their 3.0.7 release there was something that was breaing cjs imports in monorepos. I will test it when I get home tonight.

[2022-08-15 15:00] WilHall commented on #67
Same issue here - `@storybook/addon-svelte-csf@2.0.7` and `vite@3.0.7` cause this issue for us, but downgrading to `vite@3.0.5` fixes it.

[2022-08-21 11:36] snorreks commented on #67
I got it working on vite@3.0.9 :thumbsup:

[2022-08-22 02:48] anderfernandes commented on #67
It works in vite@3.0.9. Hooray!!!

[2022-08-22 02:48] #67 closed

[2022-09-02 00:52] AcePetrucci commented on #4
Any planned fixes for the two issues @carusog brought up?

[2022-09-02 05:37] AcePetrucci opened #68 "[Feature]: Typescript - Add typings to both <Template> and <Story> args"
### Describe the bug

Whenever I use both the `<Template>` and `<Story>` components, it would be great to be able to set the expected type of `let:args`.

Ex:
[code]

[2022-09-07 09:48] carusog commented on #4
As a temporary workaround, I've set up my `main.cjs` file as follow:

[code]

Notice that I am:

1. duplicating Svelte options in here 🤷🏻‍♂️
2. duplicating (since Svelte itself is supposed to do so already) aliases in here as well

I am far away to be an expert, but I suspect this may be an issue with Vite interoperability features between CommonJS files and ES6 Modules files.

FYI @AcePetrucci

[2022-09-07 10:48] AcePetrucci commented on #4
In the end I had to give up on Svelte and SvelteKit for now since there's still so many issues trying to make them work with type definitions, storybook and exporting the components as WebComponents. Truly a shame since like Svelte as library so much.

But before that I also got it working too, somewhat similar to how you did:

[code]

I hope that can help anyone on the same boat

[2022-09-07 12:56] konstantinblaesi commented on #64
@benmccann when doing
[code]
for that repository, I see traces of webpack. Is storybook somehow ditching the vite builder once this package is installed/enabled/used?

[2022-09-07 13:36] benmccann commented on #64
It uses Vite, but is still pulling in webpack anyway. Should hopefully be fixed in Storybook 7

[2022-09-08 10:28] carusog commented on #4
Thanks, @AcePetrucci, it looks like a more elegant solution. I'll give it a try later this week. 🙏

[2022-09-16 03:19] sacrosanctic opened #70 "is there documentation for decorator support"
it says decorators are supported but i cant find any example code, either for individual stories or globally

https://storybook.js.org/docs/svelte/get-started/whats-a-story
https://github.com/storybookjs/addon-svelte-csf#readme

[2022-09-16 03:36] sacrosanctic commented on #70
i found [this](https://storybook.js.org/docs/svelte/writing-stories/decorators) which does mention it but the [story decorator](https://storybook.js.org/docs/svelte/writing-stories/decorators#story-decorators) and [global decorator does](https://storybook.js.org/docs/svelte/writing-stories/decorators#global-decorators) not work

[2022-09-23 20:49] IanVS commented on #64
That's right, in Storybook 6, webpack is still used to build the "manager" part of the UI, which no longer happens in SB 7.

[2022-10-04 02:00] IanVS commented on #64
@j3rem1e what would you think about adding vite-builder support into this addon?  Currently, we have a [custom vite-plugin](https://github.com/storybookjs/storybook/blob/next/code/frameworks/svelte-vite/src/plugins/csf-plugin.ts) in the `svelte-vite` framework (which I realized recently isn't being used, though it is in 6.5), which imports some files from this addon and duplicates some of what thi

[2022-10-04 15:50] j3rem1e commented on #64
@IanVS yep, that's a good idea ^^

[2022-10-17 16:19] RSWilli opened #73 "[Bug] cannot use strict typescript types"
### Describe the bug

When i set `strict: true` in my tsconfig.json I get the following error in every stories file:

[code]

### Steps to reproduce the behavior

1. add `strict: true` in tsconfig.json

### Expected behavior

no error

### Screenshots and/or logs

If applicable, add screenshots and/or logs to help explain your problem.

### Environment

[code]

### Additional context

The Problem

[2022-10-17 16:30] RSWilli commented on #73
I played around a bit more, and I got the following to work:

[code]

Looks like an easy fix, but I don't understand why the empty Object is not enough to satisfy the types. If approved I can create a pull request tomorrow

[2022-10-17 16:32] RSWilli commented on #73
I haven't tested `<Template>`, which uses the same empty object for events. It may also crash on strict types.

[2022-10-25 09:15] gbkwiatt opened #75 "[Bug] 'target' is a required option"
I am using `2.0.8--canary.8172dc5.0` version so it works with storybook 7 alpha, (indexer).
All of the sudden after updating to latest storybook alpha version (42), I get errors on all component `'target' is a required option`
I can see that it's only triggered on dev, but haven't seen that before - what does it mean ?

[2022-10-27 14:00] #65 closed

[2022-10-27 14:02] shilman commented on #65
:rocket: Issue was released in [`v2.0.9`](https://github.com/storybookjs/addon-svelte-csf/releases/tag/v2.0.9) :rocket:

[2022-10-27 14:20] JReinhold commented on #75
Closing as duplicate of https://github.com/storybookjs/storybook/issues/19634

[2022-10-27 14:20] #75 closed

[2022-11-11 15:59] idosius opened #78 "[Bug] Show code doesn't work properly in MDX for stories that use Template"
### Describe the bug

When using Svelte component stories that use `Template` in an MDX, then viewing that page in Storybook and clicking "Show code", the code isn't shown properly.

### Steps to reproduce the behavior

1. Create a Svelte story using `viewMode: 'docs'` that loads an MDX page and uses `Template` (see example below)
2. Execute `npm run storybook`
3. Open the above page in Storybook

[2022-11-15 08:46] idosius commented on #78
Maybe this has to do with using Vite as the builder? When using Webpack this issue doesn't reproduce

main.cjs that reproduces the issue:
[code]

[2022-11-21 16:45] valentinpalkovic opened #79 "[Bug] Does not work with Storybook 7.0.0-alpha.52 and storyStoreV6"
### Describe the bug

Seems not to work with Storybook 7.0.0-alpha.52

### Steps to reproduce the behavior

1. Disable storyStoreV7: `features.storyStoreV7: false`
2. Create a *.stories.svelte file like described in the docs
3. Configure the addon properly
4. Start Storybook (`yarn storybook`) -> No stories are rendered. An error occurs in the console:

[code]

### Expected behavior

Storybook sho

[2022-11-21 20:45] JReinhold commented on #79
This works for me if I remove the disabling of `storyStoreV7`.

I know it shows a warning like `Cannot process svelte file with storyStoreV7: Button.stories.svelte`, but I think that is a false positive due to too strict checking. @shilman I feel like we've talked about this warning before, not taking into account addons that might add support for other extensions?

I might be a little rusty, but

[2022-11-27 19:32] haleksandre opened #80 "[Bug] Storybook 7 Controls doesn't change component within iframe unless manually trigger refresh"
### Describe the bug

Controls values doesn't reflect  on the component unless clicking manually the remount button or a full page refresh with args preset in url.

Reproduction repo: https://github.com/haleksandre/storybook7-svelte

### Steps to reproduce the behavior

1. Run storybook (npm run storybook)
2. Go to button component
3. Change controls values
4. Component doesn't get refreshed (unti